
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$debug: magenta;

// FB Colors
$bg: #e9ebee;
$bg2: #f5f6f7;

$fb-blue: #4267b2;
$fb-blue2: #3b5998;
$fb-blue3: #29487d;
$dark-blue: #1d3050;
$trans-black: rgba(0, 0, 0, .4);
$trans-white: rgba(255, 255, 255, .8);


$border: 1px solid #dddfe2;
$outline: #7AB0E6;

$text-1: #4b4f56;
$text-2: #90949c;
$text-3: #616770;


