.wrapper {
    background: $body-bg;
    display: grid;
    grid-template-columns: repeat(12, minmax(90px, 1fr));
    grid-auto-rows: 44px;
    grid-gap: 12px;
  }
  
  header {
    background: $fb-blue;
    grid-area: 1 / 1 / 2 / 13;
  }
  
  .left-side {
    background: pink;
    grid-column: 1 / 4;
    height: 100vh;
  }
  
  main {
    background: pink;
    grid-column: 4 / 10;
    height: 100vh;
  }
  
  .right-side {
    background: pink;
    grid-column: 10 / 13;
    height: 100vh;
  }
  