.profile-headline {
    width: 100%;
    margin: 43px 0 0 0;
}



.cover-photo {
    height: 350px;
    background-color: $trans-black;
    background-size: cover;
    background-position: 50% 100%;
    position: relative;
  
    .button-group {
        display: inline-block;
        position: absolute;
        bottom: 16px;
        right: 18px;
    }
}



.profile-user {
        align-items: center;
        position: absolute;
        bottom: -24px;
        left: 12%;

    .profile-pic {
        width: 160px;
        height: 160px;
        border: 4px solid white;
        border-radius: 50%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.7);
    }
        
    .profile-name {
        color: white;
        font-size: 24px;
        font-weight: 900;
        text-shadow: 0 0 3px rgba(0,0,0,0.8);
        margin: 50px 0 0 20px;
    }
}



.profile-menu {
    background-color: white;
    height: 44px;
    border-bottom: $border;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  
    .menu-item {
        color: $link-color;
        padding: 0 17px;
        font-size: 1em;
        font-weight: 700;
        border-left: $border;

        &:last-child {
            border-right: $border;
        }
    }
}


