// cut the shit out of this


.timeline {
    margin: 0 auto;
    max-width: 851px;
  }
  
  .timeline-header {
    border-radius: 0 0 3px 3px;
    margin-bottom: 12px;
  }
  
  .cover-photo {
    height: 316px;
    background-color: $trans-black;
    background-size: cover;
    background-position: 50% 100%;
    position: relative;
  
    .button-group {
      display: inline-block;
      position: absolute;
      bottom: 16px;
      right: 18px;
    }
  }
  
  .profile-pic {
    width: 160px;
    height: 160px;
    border: 4px solid $white;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.7);
    position: absolute;
    bottom: -24px;
    left: 15px;
  }
  
  .profile-name {
    color: white;
    font-size: 24px;
    font-weight: 900;
    text-rendering: optimizeLegibility;
    text-shadow: 0 0 3px rgba(0,0,0,0.8);
    position: absolute;
    bottom: 8px;
    left: 190px; 
  }
  
  .profile-menu {
    padding-left: 201px;
    background-color: $white;
    height: 44px;
    border-bottom: $border;
    display: flex;
    align-items: center;
  
    .menu-item {
      color: $link-color;
      padding: 0 17px;
      font-size: 1em;
      font-weight: 700;
      border-left: $border;
  
      &:last-child {
        border-right: $border;
      }
    }
  }
  
  
  
  
  
  .timeline-content {
    display: flex;
  }
  
  .sidebar-card {
    width: 321px;
    min-height: 100px;
    margin-bottom: 12px;
    background-color: $white;
    border: $border;
  }
  
  .card-heading {
    align-items: center;
    padding: 12px;
  
    .circle1 {
      height: 22px;
      width: 22px;
      margin-right: 8px;
      background-color: $fb-blue;
      border-radius: 50%;
    }
  
    .circle2 {
      @extend .circle1;
      background-color: yellowgreen;
    }
  
    .circle3 {
      @extend .circle1;
      background-color: deeppink;
    }
  
    p {
      font-size: 16px;
      margin: 0;
    }
  }
  
  .col3-grid {
    margin: 0 0 6px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 101px);
    grid-template-rows: repeat(3, 101px);
    grid-gap: 3px;
    align-content: center;
    justify-content: center;
  
    li {
      background-color: lightblue;
      list-style: none;
    }
  }
  
  
  .friend-request {
    @extend .sidebar-card;
    width: 100%;
  }
  
  .feeds {
    margin-left: 12px;
  }
  
  .feed-wrapper {
    @extend .sidebar-card;
    width: 517px;
    padding: 0;
  }
  
  .feed {
    padding: 12px 12px 0;
    border-bottom: $border;
  }
  
  .feed-headline {
    position: relative;
  
    .more-options {
      position: absolute;
      top: -4px;
      right: -2px;
  
      i {
        color: $text-3;
      }
    }
  }
  
  .poster-pic {
    width: 40px;
    height: 40px;
    border: $border;
    border-radius: 50%;
  }
  
  .poster-name {
    font-size: 15px;
    font-weight: 900;
  }
  
  .time-stamp {
    font-size: 12px;
    color: $text-3;
  }
  
  .feed-content {
    padding-bottom: 8px;
    border-bottom: $border;
  }
  
  .feedback {
    width: 90%;
    height: 40px;
    margin: 0 auto;
    align-items: center;
    color: $text-3;
  
    a{
      width: 30%;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
    }
  }
  
  .comment-section {
    padding: 8px 12px;
    align-items: center;
  }
  
  .commenter-pic {
    @extend .poster-pic;
    width: 30px;
    height: 30px;
  }
  
  .comment-area {
    width: calc(100% - 30px);
    border: $border;
    border-radius: 18px;
    background: $body-bg;
  }
  
  .comment-box {
    border: none;
    border-radius: 18px 0 0 18px;
    resize: none;
    background: $body-bg;
  }
  
  .commentBtns {
    margin-left: auto;
    padding-right: 4px;
    border-radius: 0 18px 18px 0;
  
    button {
      border: none;
      background: none;
      color: $text-2;
  
      i {
        font-size: 16px;
      }
    }
  }
  
  .instructions {
    font-size: 10px;
    color: $text-2;
    margin-left: 34px;
  }
  
  .access {
    background: none;
    border: none;
    padding: 0;
    color: $text-3;
  }
  